body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	font-size: 68.75%; /* 1em = 11px */
	font-family: Arial, Tahoma, Sans-serif;
}

div#top_box{
	height: 75px;
	width: 100%;
	margin: 0;
	left:0;
}
div#map{
	position: relative;
	left: 0px;
	width: 100%;
	height: 100%;
}
div#status{
	width: 200px;	
}
div#menu{
	width: 200px;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clear{
	clear: both;
	width:0;
	height:0;
	margin:0;
	padding: 0;	
}
div.inputform{
	width: 215px;
}

div#msg{
	width: 400px;
	height: 30px;
	top: 50%;
	left: 30%;
	z-index: 65535;
	border: 1px solid green;
	background-color: white;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	padding-top: 20px;
}
