{% extends "base/base_mapa.html" %}

{% block section_title %}Mapa{% endblock %}

{% block own_scripts %}
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAXNdHFQp4lH7Zme4xpMK1pBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTR9fqZLUEmW8A_Ja4HmQOrO2lJQg" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/scripts.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/json2.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/ClusterMarker.js" type="text/javascript"></script>
    <script type="text/javascript">
		var tokens = [];
		var map = '';

		var bus			=	{
				name	:	'bus',
				url		:	'/exporter/przystanki/autobusy/',
				visible	:	0,
				markers	:	[]
			};
		var tram		=	{
				name	:	'tram',
				url		:	'/exporter/przystanki/tramwaje/',
				visible	:	0,
				markers	:	[]
			};
		var night		=	{
				name	:	'night',
				url		:	'/exporter/przystanki/nocne/',
				visible	:	0,
				markers	:	[]
			};
		var nearest		=	{
				name	:	'nearest',
				url		:	'/exporter/przystanki/najblizsze/',
				visible	:	0,
				markers	:	[]
			};
		var linia		=	{
				name	:	'linia',
				url		:	'/exporter/linie/',
				visible	:	0,
				markers	:	[],
				polyline:	''
			};
		var trasa		=	{
				name	:	'trasa',
				visible	:	0,
				markers	:	[],
				polyline:	''
			};

		var cluster = '';
		var circle;
		var geocoder = null;
		var directions;
		var contextmenu;
		var received_way;
		var appKontekst = {
			'fromMarker'	:	{
				storage:'', 
				prefix: 'Z', 
				desc: '', 
				ico: 'http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png', 
				input_id: 'from_name'
				},
			'toMarker'		:	{
				storage:'', 
				prefix: 'Do', 
				desc: '', 
				ico: 'http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png', 
				input_id: 'to_name'
				},
			'zoomLvl'		:	13,
			'zoomLvlDetail'	:	15,
			'circleRadius'	:	0.8,
			'tripDistance'	:	0,	//meters
			'tripDuration'	:	0,	//seconds
			'clickedPixel'	:	''
		};
		
	    $(document).ready(function() {
	        $("#from").tokenInput("/exporter/podpowiedz/", {
	            hintText: "Nazwa przystanku/ulicy",
	            noResultsText: "Brak wyników",
	            searchingText: "Trwa wyszukiwanie...",
				direction: "From",
				id: 'from_name',
				onclick: 'putMarker(settings.direction,li_data.lat,li_data.lng,li_data.name);'
	        });
	        $("#to").tokenInput("/exporter/podpowiedz/", {
	            hintText: "Nazwa przystanku/ulicy",
	            noResultsText: "Brak wyników",
	            searchingText: "Trwa wyszukiwanie...",
				direction: "To",
				id: 'to_name',
				onclick: 'putMarker(settings.direction,li_data.lat,li_data.lng,li_data.name);'
	        });
	        $("#linia").tokenInput("/exporter/linie/", {
	            hintText: "Numer linii",
	            noResultsText: "Brak wyników",
	            searchingText: "Trwa wyszukiwanie...",
				direction: "To",
				id: 'linia_name',
				onclick: 'drawLine(li_data.przystanki);'
	        });
	    });
    </script>
{% endblock %}	

{% block bodyblock %}
	onload="start()" onunload="GUnload()"
{% endblock %}

{% block mapa_content %}
	<div id="top_box">
		<div class="fl inputform">
			Z: <input type="text" id="from" name="from" />
		</div>
		<div class="fl inputform">			
			Do: <input type="text" id="to" name="to" />
		</div>
		<div class="fl">			
			<a href="#" onclick="findRoute();return false;">--></a>
		</div>
		<div class="fl" id="menu">
			<a href="#" onclick="showBusStops();return false;" id="bus_show">Pokaż przystanki autobusowe</a>
			<a href="#" onclick="hideStops('A');return false;" id="bus_hide" style="display:none;">Ukryj przystanki autobusowe</a>
			<br>
			
			<a href="#" onclick="showTramStops();return false;" id="tram_show">Pokaż przystanki tramwajowe</a>
			<a href="#" onclick="hideStops('T');return false;" id="tram_hide" style="display:none;">Ukryj przystanki tramwajowe</a>
			<br>
			
			<a href="#" onclick="showNightStops();return false;" id="night_show">Pokaż przystanki nocne</a>
			<a href="#" onclick="hideStops('N');return false;" id="night_hide" style="display:none;">Ukryj przystanki nocne</a>
			<br>
			
			<a href="#" onclick="hideNearest();return false;" class='nearest_hide' style='display:none;'>Ukryj przystanki w okolicy<br></a>			
			<a href="#" onclick="hideDirection();return false;" id='hideDirection' style='display:none;'>Usuń trasę<br></a>			
			<a href="#" onclick="hideLinia();return false;" class='linia_hide' style='display:none;'>Ukryj linię<br></a>			
		</div>
		<div class="fl" id="status">
			Trasa:<br>
			Dystans: <span class="distance"></span><br>
			Czas: <span class="duration"></span><br>
		</div>
		<div class="fl inputform">			
			Linia: <input type="text" id="linia" name="linia" />
		</div>
		<div class="clear"></div>			
	</div>	
	<div id="map"></div>
	<div id="msg"><img src="{{ MEDIA_URL }}images/loader.gif"/></div>
	<div id="route_msg"></div>	
{% endblock %}
